<style media = "all and (min-width: 769px)">
   .mylink { font-size: 1.9rem; color: #003c70; margin: 0 0.7rem; padding: 0 0.95rem 0.55rem 0.95rem; border-bottom: 0.25rem solid #003c70; }
   .mylink:hover { color: #003c70; padding: 0 1.2rem 0.35rem 1.2rem; border-bottom: 0.25rem solid #003c70; text-decoration:none;}
   .mylink:active { color: #003c70; padding: 0 1.2rem 0.35rem 1.2rem; border-bottom: 0.25rem solid #003c70; text-decoration:none;}
   .mynolink { font-size: 1.9rem; color: #9a9a9a; margin: 0 0.7rem; padding: 0 0.95rem 0.52rem 0.95rem; }
   .mynolink:hover { color: #003c70; padding: 0 1.2rem 0.35rem 1.2rem; border-bottom: 0.25rem solid #003c70; text-decoration:none;}
   .mynolink:active { color: #003c70; padding: 0 1.2rem 0.35rem 1.2rem; border-bottom: 0.25rem solid #003c70; text-decoration:none;}
   .apost {font-size: 1.6rem; padding: 0.8rem 1.2rem; border: 0.16rem solid #dedede; font-weight: bold; color: #dedede;}
   .apost:hover { padding-right: 2.1rem; color: #bcbcbc; text-decoration:none;}
   .apost:active { padding-right: 2.1rem; color: #bcbcbc; text-decoration:none; }
   .myhead { margin: 2.347em 0; font-size:3.5rem;}
   .myhead-text{font-size:3.3rem;}
   .myhead-subtext{font-size:2.5rem;}
   .masthead-text{font-size:2.7rem;}
   .masthead-subtext{font-size:1.8rem;}
</style>
<style media = "all and (max-width: 768px)">
   .mylink { font-size: 1.9rem; color: #003c70; padding: 0 0.95rem 0.55rem 0.95rem;}
   .mynolink { font-size: 1.2rem; color: #9a9a9a; padding: 0 0.95rem 0.52rem 0.95rem; }

   .apost {font-size: 1.0rem; padding: 0.8rem 1.2rem; border: 0.16rem solid #dedede; font-weight: bold; color: #dedede;}
   .apost:hover { padding-right: 2.1rem; color: #bcbcbc; text-decoration:none;}
   .apost:active { padding-right: 2.1rem; color: #bcbcbc; text-decoration:none; }
   .myhead { margin: 2.8em 0 1.8em 0;font-size:3rem;}
   .myhead-text{font-size:2.5rem;}
   .myhead-subtext{font-size:2rem;}
   .masthead-text{font-size:1.8rem;}
   .masthead-subtext{font-size:1.0rem;}
</style>

<!-- <div class="myhead">
   <h1 class="myhead-text" align="middle">Siri-B</h1>
   <h1 class="myhead-subtext" align="middle">학생청원 및 제안</h1>
</div> -->




<script type="text/javascript">
   var interval=6000;
   var n=0;
   var imgs = new Array("img/uos.jpg","img/uos1.jpg","img/uos2.jpg");
   var mimgs = new Array("img/muos.jpg","img/muos1.jpg","img/muos2.jpg")
   window.onload = function(){
       var mql = window.matchMedia("screen and (max-width: 768px)");
       if (mql.matches) {
            document.getElementById("uosimage").style.backgroundImage = "url("+mimgs[n]+")";
           (n==(imgs.length-1))?n=0:n++;
           setTimeout("rotate()",interval);
            document.getElementsByTagName("body").style.fontSize = "8px";
       } else {
           document.getElementById("uosimage").style.backgroundImage = "url("+imgs[n]+")";
           (n==(imgs.length-1))?n=0:n++;
           setTimeout("rotate()",interval);
            document.getElementsByTagName("body").style.fontSize = "30px";
       }

   }
   function rotate() {
       var mql = window.matchMedia("screen and (max-width: 768px)");
       if (mql.matches) {
            document.getElementById("uosimage").style.backgroundImage = "url("+mimgs[n]+")";
           (n==(imgs.length-1))?n=0:n++;
           setTimeout("rotate()",interval);
       } else {
           document.getElementById("uosimage").style.backgroundImage = "url("+imgs[n]+")";
           (n==(imgs.length-1))?n=0:n++;
           setTimeout("rotate()",interval);
       }
   }

</script>
